<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html ng-app="aplicacionMundial">
    <head>
        <title>Taller Angular JS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
    </head>
    <body>
        <div class="container theme-showcase" role="main">
            <div class="row featurette">
                <div class="col-md-5">
                    <img src="images/copa-mundial.png" class="img-responsive" alt="500x500" data-holder-rendered="true">
                </div>
                <div class="col-md-7">
                    <h2>Sorteo Mundial</h2>
                    <p class="lead">
                        Sorteo mundial, es ahora o nunca, no desaproveches la oportunidad.
                        Inscríbete y podrás ser el ganador de un viaje para 4 personas a la final del mundial del
                        2026.
                    </p>
                </div>
            </div>
            <hr>
            <toolbar></toolbar>
            <div ng-if="toolbar.isSelected(1)">
                <competitor-form competitorInfo></competitor-form>
            </div>
            <div ng-if="toolbar.isSelected(2)">
                <competitor-info></competitor-info>
            </div>
            </div>
            <div ng-if="toolbar.isSelected(3)">
                <login-form></login-form>
            </div>
            

        </div>

        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/AngularControllers/app.js"></script>
    </body>
</html>
